*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  -webkit-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  transition: all .1s ease-in; }

html, body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  line-height: 1.6;
  height: 100%;
  max-height: 100vh; }

ul {
  padding-left: 0;
  list-style: none; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

a, button, input {
  outline: none;
  -webkit-box-shadow: 0 0 0 2px transparent;
  box-shadow: 0 0 0 2px transparent; }

a {
  background-color: transparent;
  -webkit-text-decoration-color: transparent;
  text-decoration-color: transparent;
  color: inherit; }

.img-responsive {
  max-width: 100%;
  height: auto;
  display: block; }

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px; }

.sr-only {
  position: absolute;
  margin: -1px 0 0 -1px;
  padding: 0;
  display: block;
  width: 1px;
  height: 1px;
  font-size: 1px;
  line-height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  outline: 0; }

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: 'Aleo', serif;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #5474fd;
  padding: .75rem 1rem;
  font-size: .875rem;
  line-height: 1.5;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid transparent;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  min-width: 225px; }
  .btn:focus {
    border-color: #f2ec9c; }
  .btn:hover {
    color: #5474fd;
    border-color: #5474fd;
    background-color: #f9c; }
  .btn:active {
    background-color: #547; }

.header {
  margin-top: 16px;
  background-color: #ffffff;
  background-image: url("../image/header-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 835px;
  padding-top: 260px;
  position: relative;
  text-align: center; }
  .header__title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 1;
    margin-bottom: 8px; }
  .header__lead {
    letter-spacing: 0.2em;
    text-transform: capitalize;
    font-size: 22px;
    line-height: 1;
    margin-bottom: 52px; }
  .header__scroll {
    margin-bottom: 162px; }
  .header__form-search {
    margin-bottom: 122px; }

.scroll {
  display: block;
  position: relative;
  font-size: 14px;
  line-height: 1.9; }
  .scroll:before {
    -webkit-transform: translateX(-100%) rotate(135deg) translateY(-100%);
    -ms-transform: translateX(-100%) rotate(135deg) translateY(-100%);
    transform: translateX(-100%) rotate(135deg) translateY(-100%);
    left: 50%;
    content: "";
    display: block;
    position: absolute;
    cursor: pointer;
    width: 8px;
    height: 8px;
    border-top: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    bottom: 0; }
    .scroll:before:hover {
      border-color: #f9c; }

.nav {
  background-color: #5474fd;
  min-height: 80px; }
  .nav__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: auto;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .nav__item {
    padding: 17px 0; }

.logo {
  display: block;
  width: 163px; }
  .logo__link {
    display: block;
    border-bottom: 3px solid transparent; }
    .logo__link:focus {
      border-color: #000000; }
    .logo__link:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }
    .logo__link:active {
      background-color: rgba(255, 255, 255, 0.5); }

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  font-family: 'Aleo', serif;
  margin-right: -21px; }
  .main-menu__link {
    padding: 14px 21px;
    display: block;
    position: relative;
    text-decoration: none;
    color: inherit;
    border-bottom: 3px solid transparent; }
    .main-menu__link:focus {
      border-color: #000000; }
    .main-menu__link:hover {
      border-color: #d82323;
      color: #d82323; }
    .main-menu__link:active {
      background-color: rgba(255, 255, 255, 0.5); }

.form-search {
  background-color: #ffffff;
  padding: 5px;
  max-width: 650px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.search {
  width: calc(100% - 145px);
  border: none;
  height: 100%;
  padding: 15px;
  text-align: center;
  letter-spacing: 0.2em; }
  .search::-webkit-input-placeholder {
    text-align: center;
    font-size: 14px;
    color: #999999; }
  .search:-ms-input-placeholder {
    text-align: center;
    font-size: 14px;
    color: #999999; }
  .search::-ms-input-placeholder {
    text-align: center;
    font-size: 14px;
    color: #999999; }
  .search::placeholder {
    text-align: center;
    font-size: 14px;
    color: #999999; }
  .search__btn {
    height: calc(100% - 2px);
    min-width: 144px;
    font-size: 14px;
    text-transform: uppercase;
    -ms-flex-pack: distribute;
    justify-content: space-around; }

.section-choose-us {
  background-image: url("../image/choose-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 685px;
  padding: 120px 0;
  position: relative; }

.choose-descr {
  padding-top: 80px; }
  .choose-descr__title {
    font-family: 'Aleo', serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 1;
    margin-bottom: 55px; }
  .choose-descr__lead {
    max-width: 515px;
    color: #e8e8e8;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px; }
  .choose-descr__btn {
    min-height: 60px;
    min-width: 225px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

.choose-foto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .choose-foto__img {
    display: block;
    width: 350px; }
  .choose-foto__img--up {
    margin-bottom: 5px;
    margin-left: 80px; }
  .choose-foto__img--down {
    -ms-flex-item-align: end;
    align-self: flex-end; }

.section-choice {
  background-color: #333;
  min-height: 336px;
  padding: 100px 0 110px; }

.choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .choice__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative; }
    .choice__item:not(:last-child):after {
      content: "";
      display: block;
      position: absolute;
      width: 300px;
      height: 60px;
      border-top: 1px dashed #6c6c6c;
      border-radius: 50% 50% 0 0 / 100% 100% 0 0;
      top: -33%;
      left: 66%; }
  .choice__img {
    width: 60px;
    height: auto;
    margin-bottom: 20px; }
  .choice__item-title {
    color: #e8e8e8;
    font-size: 36px;
    font-family: 'Aleo', serif; }

.section-spain-hotel {
  background-image: url("../image/bg-spain-hotel.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.spain-descr {
  min-height: 700px;
  padding-top: 235px; }

.spain-card {
  width: 540px;
  background-color: rgba(35, 35, 35, 0.9);
  color: #e8e8e8;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding: 50px 30px; }
  .spain-card__subtitle {
    margin-bottom: 25px; }
  .spain-card__title {
    margin-bottom: 25px;
    text-transform: uppercase; }
  .spain-card__lead {
    font-size: 16px;
    margin-bottom: 50px; }
  .spain-card__btn {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

.section-spain-sea {
  background-image: url("../image/bg-spain-sea.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.empty-place {
  height: 1px; }

.section-reviews {
  background-image: url("../image/bg-reviews.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 730px;
  padding-top: 110px; }
  .section-reviews__title {
    text-align: center;
    color: #ffffff;
    font-size: 36px;
    font-family: 'Aleo', serif;
    font-weight: 1;
    margin-bottom: 85px;
    text-transform: capitalize; }

.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .review__img {
    width: 40%;
    height: auto; }
  .review__descr {
    background-color: #333;
    padding: 45px 40px 50px 50px;
    width: 60%; }
  .review__author {
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 30px; }
  .review__text {
    position: relative;
    text-indent: 30px; }

.fa-quote-left {
  position: absolute;
  top: -5%;
  left: -5%;
  color: #5474fd;
  font-size: 20px; }

.footer {
  background-color: #232323;
  min-height: 265px;
  padding: 110px 0 50px;
  color: #ffffff;
  text-align: center; }
  .footer__logo {
    margin: 0 auto 10px;
    text-align: center; }
  .footer__lead {
    margin-bottom: 25px; }

.social-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: auto; }
  .social-list__item {
    margin-right: 15px; }
    .social-list__item:last-child {
      margin-right: 0; }
  .social-list__link {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid 1px transparent; }
    .social-list__link:focus {
      border-color: #ffffff; }
    .social-list__link:hover {
      color: #5474fd; }
    .social-list__link:active {
      background-color: rgba(255, 255, 255, 0.5); }
