
//mixins
@mixin pseudo($display: block, $pos: absolute, $content: ''){
	content: $content;
	display: $display;
	position: $pos;
}
@mixin push--auto {
	margin: {
		left: auto;
		right: auto;
	}
}

//variable
$color-text-base: #ffffff;

*, *:after, *:before {
	box-sizing: border-box;
	margin: 0;
	transition: all .1s ease-in;
}

html, body{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: $color-text-base;
	line-height: 1.6;
	height: 100%;	
	max-height: 100vh;
}

ul {
	padding-left: 0;
	list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

a, button, input {
	outline: none;
	box-shadow: 0 0 0 2px transparent;
}

a {
	background-color: transparent;
	text-decoration-color: transparent;
	color: inherit;
}

.img-responsive {
	max-width: 100%;
	height: auto;
	display: block;
}

.container {
	max-width: 1140px;
	@include push--auto;
	padding: 0 15px;
}

.sr-only {
	position: absolute;
	margin: -1px 0 0 -1px;
	padding: 0;
	display: block;
	width: 1px;
	height: 1px;
	font-size: 1px;
	line-height: 1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
	outline: 0;
}

.btn {
	display: inline-flex;
	font-family: 'Aleo', serif;
	font-weight: 400;
	color: $color-text-base;
	text-align: center;
	vertical-align: middle;
	user-select: none;
	background-color: #5474fd;
	padding: .75rem 1rem;
	font-size: .875rem;
	line-height: 1.5;
	align-items: center;
	border: 2px solid transparent;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	min-width: 225px;

	&:focus {
		border-color: #f2ec9c;
	}

	&:hover {
		color: #5474fd;
		border-color: #5474fd;
		background-color: #f9c;
	}			

	&:active {
		background-color: #547;
	}
}

.header {
	margin-top: 16px;
	background-color: $color-text-base;
	background-image: url('../image/header-bg.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 835px;
	padding-top: 260px;
	position: relative;
	text-align: center;

	&__title {
		font-weight: 700;
		text-transform: uppercase;
		font-size: 48px;
		line-height: 1;
		margin-bottom: 8px;
	}

	&__lead {
		letter-spacing: 0.2em;
		text-transform: capitalize;
		font-size: 22px;
		line-height: 1;
		margin-bottom: 52px;
	}
	&__scroll {
		margin-bottom: 162px;
	}
	&__form-search {
		margin-bottom: 122px;
	}
}

.scroll {
	display: block;
	position: relative;
	font-size: 14px;
	line-height: 1.9;

	&:before {
		transform: translateX(-100%) rotate(135deg) translateY(-100%);
		left: 50%;
		content: "";
		display: block;
		position: absolute;
		cursor: pointer;
		width: 8px;
		height: 8px;
		border-top: 1px solid $color-text-base;
		border-right: 1px solid $color-text-base;
		bottom: 0;

		&:hover {
			border-color: #f9c;
		}
	}
}

.nav {
	background-color: #5474fd;
	min-height: 80px;
	
	&__wrap {
		display: flex;
		width: 100%;
		margin: auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}
	
	&__item {
		padding: 17px 0;
	}
}
.logo {
	display: block;
	width: 163px;
	
	&__link {
		display: block;
		border-bottom: 3px solid transparent;

		&:focus {
			border-color: #000000;
		}

		&:hover {
			transform: scale(1.1);
		}

		&:active {
			background-color: rgba(255, 255, 255, 0.5);
		}
	}
}

.main-menu {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-size: 14px;
	text-align: center;
	font-family: 'Aleo', serif;
	margin-right: -21px;

	&__item {
		
	}

	&__link {
		padding: 14px 21px;
		display: block;
		position: relative;
		text-decoration: none;
		color: inherit;
		border-bottom: 3px solid transparent;

		&:focus {
			border-color: #000000;
		}

		&:hover{
			border-color: #d82323;
			color:  #d82323;
		}

		&:active {
			background-color: rgba(255, 255, 255, 0.5);
		}
	}
}

.form-search {
	background-color: $color-text-base;
	padding: 5px;
	max-width: 650px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	display: flex;

}

.search {
	width: calc(100% - 145px);
	border: none;
	height: 100%;
	padding: 15px;
	text-align: center;
	letter-spacing: 0.2em;

	&::placeholder {
		text-align: center;
		font-size: 14px;
		color: #999999;
	}
	
	&__btn {
		height: calc(100% - 2px);
		min-width: 144px;
		font-size: 14px;
		text-transform: uppercase;
		justify-content: space-around;
	}
}

.section-choose-us {
	background-image: url('../image/choose-bg.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 685px;
	padding: 120px 0;
	position: relative;
}

.choose-descr {
	padding-top: 80px;
	&__title {
		font-family: 'Aleo', serif;
		font-weight: 400;
		font-size: 36px;
		line-height: 1;
		margin-bottom: 55px;
	}
	&__lead {
		max-width: 515px;
		color: #e8e8e8;
		font-family: 'Josefin Sans', sans-serif;
		font-size: 16px;
		font-weight: 400;
		margin-bottom: 40px;
	}

	&__btn {
		min-height: 60px;
		min-width: 225px;
		justify-content: center;
	}
}

.choose-foto {
	display: flex;
	flex-direction: column;

	&__img {
		display: block;
		width: 350px;
	}

	&__img--up {
		margin-bottom: 5px;
		margin-left: 80px;
	}
	&__img--down {
		align-self: flex-end;
	}
}

.section-choice {
	background-color: #333;
	min-height: 336px;
	padding: 100px 0 110px;
}

.choice {
	display: flex;
	justify-content: space-around;

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;

		&:not(:last-child):after {
			@include pseudo;
			width: 300px;
			height: 60px;
			border-top: 1px dashed #6c6c6c;
			border-radius: 50% 50% 0 0 / 100% 100% 0 0;
			top: -33%;
			left: 66%;
		}
	}

	&__img {
		width: 60px;
		height: auto;
		margin-bottom: 20px;
	}

	&__item-title {
		color: #e8e8e8;
		font-size: 36px;
		font-family: 'Aleo', serif;
	}
}

.section-spain-hotel {
	background-image: url('../image/bg-spain-hotel.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.spain-descr {
	min-height: 700px;
	padding-top: 235px;
}

.spain-card {
	width: 540px;
	background-color: rgba(35, 35, 35, 0.9);
	color: #e8e8e8;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	font-weight: 400;
	padding: 50px 30px;
	&__subtitle {
		margin-bottom: 25px;
	}
	&__title {
		margin-bottom: 25px;
		text-transform: uppercase;
	}
	&__lead {
		font-size: 16px;
		margin-bottom: 50px;
	}
	&__btn {
		justify-content: center;
	}
}

.section-spain-sea {
	background-image: url('../image/bg-spain-sea.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.empty-place {
	height: 1px;
}

.section-reviews {
	background-image: url('../image/bg-reviews.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 730px;
	padding-top: 110px;

	&__title {
		text-align: center;
		color: $color-text-base;
		font-size: 36px;
		font-family: 'Aleo', serif;
		font-weight: 1;
		margin-bottom: 85px;
		text-transform: capitalize;
	}
}

.review {
	display: flex;

	&__img {
		width: (444 / 1110) * 100%;
		height: auto;
	}

	&__descr {
		background-color: #333;
		padding: 45px 40px 50px 50px;
		width: (666 / 1110) * 100%;
	}
	
	&__author {
		text-transform: uppercase;
		font-size: 20px;
		margin-bottom: 30px;
	}

	&__text {
		position: relative;
		text-indent: 30px;
	}
}

.fa-quote-left {
	position: absolute;
	top: -5%;
	left: -5%;
	color: #5474fd;
	font-size: 20px;
}


.footer {
	background-color: #232323;
	min-height: 265px;
	padding: 110px 0 50px;
	color: $color-text-base;
	text-align: center;
	&__logo {
		margin: 0 auto 10px;
		text-align: center;
	}
	&__lead {
		margin-bottom: 25px;
	}
}

.social-list {
	display: inline-flex;
	width: auto;
	&__item {
		margin-right: 15px;
		&:last-child {
			margin-right: 0;
		}
	}
	&__link {
		display: block;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		border: solid 1px transparent;
		&:focus{
			border-color: $color-text-base;
		}
		&:hover {
			color: #5474fd;
		}
		&:active {
			background-color: rgba(255, 255, 255, 0.5);
		}
	}
}
